@import "tailwindcss";

@theme {
  --font-orbitron: var(--font-orbitron);
  --font-rajdhani: var(--font-rajdhani);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}